.AnswerPage__question-title {
    text-align: center;
    font-size: 2.0em;
    padding: 15px 0;
    word-wrap: break-word;
}

.AnswerPage__question-box {
    margin-top: 30px;
    border-radius: 20px;
    padding: 2%;
    background: white;
    width: 95%;
}

.AnswerPage__question-body {
    padding: 2%;
    border-radius: 10px;
    font-size: 1.2em;
    word-wrap: break-word;
}

.AnswerPage__seperator {
    height: 2px;
    background-color: rgb(241, 241, 241);
    margin: 2% 0;
}

.AnswerPage__no-answer-text {
    text-align: center;
}

.AnswerPage__number-of-answers-text {
    margin-bottom: 3%;
}

.AnswerPage__your-answer-area {
    padding-bottom: 5%;
}

.AnswerPage__your-answer-title {
    text-align: left;
}

.AnswerPage__answer-text-area {
    width: 100%;
    min-height: 100px;
}

.AnswerPage__reply-button {
    margin-top: 1%;
    color: white;
    margin-left: auto;
    display: flex;
}

.AnswerPage__question-creator {
    font-size: 1.2em;
    text-align: right;
}

.numberOfAnswersText {
    margin-bottom: 3%;
}

.AnswerPage__tags {
    font-size: 1.2em;
    text-align: center;
}

.AnswerPage__question-area {
    display: flex;
}

.AnswerPage__question-voting {
    margin-top: 3%;
    margin-right: 1%;
}

.AnswerPage__question-delete {
    border:none;
    outline:none;
}
