.AnswerPage__question-title {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 4%;
    font-size: 2.0em;
}
.AnswerPage__question-body {
    /* margin-top: 5%; */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    padding: 2%;
    background-color: rgb(216, 239, 241);
    border-radius: 10px;
    font-size: 1.2em;
}

.AnswerPage__seperator {
    height: 2px;
    background-color: rgb(241, 241, 241);
    margin: 2% 0;
}

.AnswerPage__no-answer-text {
    text-align: center;
}

.AnswerPage__number-of-answers-text {
    margin-bottom: 3%;
}

.AnswerPage__your-answer-area {
    padding-bottom: 5%;
}

.AnswerPage__your-answer-title {
    text-align: left;
}

.AnswerPage__answer-text-area {
    width: 100%;
    min-height: 100px;
}

.AnswerPage__reply-button {
    margin-top: 1%;
    color: white;
    margin-left: auto;
    display: flex;
}

.AnswerPage__question-creator {
    font-size: 1.2em;
    text-align: right;
}

.numberOfAnswersText {
    margin-bottom: 3%;
}