.AnswerPage__question-title {
    margin-top: 15px;
}

.AnswerPage__seperator {
    height: 2px;
    background-color: rgb(241, 241, 241);
    margin: 2% 0;
}
.questionBody {
    text-align: center;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
.AnswerPage__no-answer-text {
    text-align: center;
}

.AnswerPage__number-of-answers-text {
    margin-bottom: 3%;
}

/* .AnswerPage__your-answer-area {
    margin-bottom: 5%;
} */

.AnswerPage__your-answer-title {
    text-align: left;
}

.AnswerPage__answer-text-area {
    width: 100%;
    min-height: 100px;
}

.AnswerPage__reply-button {
    margin-top: 1%;
    color: white;
    margin-left: auto;
    display: flex;
}