.SignInForm {
    min-width: 400px;
    padding: 20px;
    background-color: white;
    position: fixed;
    padding-top: 40px;
}

.SignInForm__forgot-link {
    float: right;
}

.SignInForm__submit-button {
    width: 100%;
}

.SignInForm__close-button {
    text-align: right;
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 5px 10px;
    cursor: pointer;
}