.VotingButtons {
    width: 100%;
    display: flex;
}

.VotingButtons__button {
    min-width: 20px;
    background: white;
    text-align: center;
    border:none;
}

.VotingButtons--selected {
    color: rgb(31, 145, 221);
}

.VotingButtons--default {
    color: black;
}

.VotingButtons__button:hover {
    background: white;
}

.VotingButtons__votes {
    width: 30px;
    display: flex;
}

.VotingButtons__votes__text {
    margin: auto;
    font-weight: bold;
}

