.VotingButtons {
    /*display: flex;
    justify-content: flex-end;*/
    margin-bottom: auto;
    font-size: 1.2em;
    color: black;
}

.VotingButtons__button {
    min-width: 20px;
    background: none;
    text-align: center;
    border:none;
    font-size: 20px;
}

.VotingButtons--selected {
    color: rgb(31, 145, 221);
}

.VotingButtons--default {
    color: black;
}

.VotingButtons__button:hover {
    background: none;
}

.VotingButtons__votes {
    width: 30px;
    display: flex;
}

.VotingButtons__votes__text {
    margin: auto;
    font-weight: bold;
}

