.CategoryListPage__welcomeTitle1 {
    margin-top: 2%;
    text-align: center;
    font-weight: 600;
}

.CategoryListPage__welcomeTitle2 {
    margin-top: 2%;
    text-align: center;
    font-weight: 600;
}

.CategoryListPage__categoryBox {
    text-align: center;
    font-weight: bold;
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    border: 2px solid rgb(80, 176, 224);
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.CategoryListPage__bubbles {
    list-style-type : none;
    font-weight: 400;
}