.navbar {
    display: flex;
    width: 100%;
}

.navbar-wrapper {
    background-color: rgb(38, 18, 155);
}

.navbar__title {
    min-width: 150px;
    font-size: 18px;
    color: black;
    margin: auto;
}

.navbar__search {
    width: 100%;
    padding: 7px;
    z-index: 0;
}

.navbar__button {
    min-width: 80px;
    border: none;
    background-color: rgb(38, 18, 155);
    color: white;
    cursor: pointer;
    outline: none;
    height: 40px;
    margin: auto;
}

.navbar__button--link {
    text-align: center;
    padding: 8px 0;
}

.navbar__button:hover {
    background-color: rgb(54, 33, 190);
}

.navbar__profile-button:hover {
    background-color: rgb(54, 33, 190);
}

.navbar__auth {
    display: flex;
}

.navbar__welcome {
    margin: auto;
}

.navbar__logged-in {
    color: white;
    text-align: center;
    display: flex;
}

.navbar__buttons {
    display: flex;
}

navbar__secondrow {
    box-shadow: 0 1px 4px rgba(0,0,0,.22);
}