@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.navbar {
  display: flex;
  width: 100%;
}

.navbar-wrapper {
  background-color: #ffffff;
}

.navbar__title {
  min-width: 150px;
  font-size: 18px;
  color: #1582bf;
  margin: auto;
}

.navbar__logo {
  margin-left: auto;
  margin-right: auto;
}

.navbar__search {
  width: 100%;
  padding: 7px;
  z-index: 0;
}

.navbar__button {
  min-width: 80px;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  background-color: white;
  color: #1582bf;
  cursor: pointer;
  outline: none;
  height: 40px;
  margin: auto;
}

.navbar__button--link {
  text-align: center;
  padding: 8px 0;
}

.navbar__button:hover {
  background-color: #0074d9;
}

.navbar__profile-button:hover {
  background-color: #0074d9;
}

.navbar__auth {
  display: flex;
}

.navbar__welcome {
  margin: auto;
}

.navbar__logged-in {
  color: white;
  text-align: center;
  display: flex;
}

.navbar__buttons {
  display: flex;
}

navbar__secondrow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  padding: 8px 0;
  width: 40%;
}

.ant-btn-primary {
  left: -420px;
  background-color: #2d9cdb;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

.ant-input {
  position: absolute;
  left: 29%;
  margin: -16px;
  width: 40%;
}
