.TagPage-wrapper {
    background-color: rgb(241, 241, 241);
}

.TagPage {
    min-height: calc(100vh - 87px - 233.19px);
}

.TagPage__question-list-title {
    padding-top: 20px;
    font-size: 20px;
    display: block;
}

.TagPage__search-filters-bar {
    display: flex;
    justify-content: flex-end;
}

.query {
    font-weight: bold;
    width: 100%;
    display: flex;
}

.TagPage__results {
    width: 100%;
    display: flex;
}

.num-results {
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    display: flex;
}