.footer {
    width: 100%;
    -webkit-text-fill-color: white;
    padding: 20px 10px;
    display: flex;
}

.footer ul {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0;
}

.footer__credits {
  width: 510px !important;
}

.footer-wrapper {
    background-color: rgb(38, 18, 155);
}

.footer icon Icon {
    font-size: 25px;
    margin: 5px;
}