.footer {
  max-width: inherit;
  width: 100%;
  background-color: rgb(38, 18, 155);
  -webkit-text-fill-color: antiquewhite;
  padding: 10px;
  display: flex;
}
.footer-one{
  margin-left: 200px;
  list-style: none;
  display: block;
  width: 100%;
}

.footer-two {
  margin: 0,auto;
  list-style: none;
  display: block;
  width: 100%;
}

.footer icon Icon{
  font-size:25px;
  margin: 5px;
}
