.login-form {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    position: relative;
    padding-top: 40px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.close-button {
    text-align: right;
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 5px 10px;
    cursor: pointer;
}