.QuestionBox {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin: 10px 0 20px 0;
    color: black;
    border-radius: 10px;
}

.QuestionBox__user {
    width: 90%;
    text-align: right;
}

.QuestionBox__points {
    width: 10%;
    text-align: right;
}

.QuestionBox__text {
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.5em;
    width: 100%;
}

.QuestionBox__date {
    margin-top: 1%;
}
