@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.QuestionBox {
  padding: 15px;
  background-color: #fafafa;
  margin: 10px 0 20px 0;
  color: black;
  border-radius: 10px;
}

.QuestionBox__user {
  width: 90%;
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: black;
}

.QuestionBox__points {
  width: 10%;
  text-align: right;
}

.QuestionBox__text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: black;
  word-wrap: break-word;
  overflow: auto;
  width: 100%;
}

.QuestionBox__date {
  margin-top: 1%;
}
