.question-box {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin: 10px 0 20px 0;
    color: black;
    border-radius: 10px;
}

.question-box__user {
    width: 80%;
}

.question-box__points {
    width: 20%;
    text-align: right;
}

.question-box__line {
    width: 100%;
    height: 1px;
    background-color: rgb(241, 241, 241);
    margin: 10px 0;
}

.question-box__text {
    word-wrap: break-word;
    overflow: auto;
    font-size: 1.5em;
}

.question-box__date {
    margin-top: 1%;
}