.AnswerBox {
    margin-bottom: 1%;
    border-radius: 8px;
    border: 2px solid rgb(31, 145, 221);
    padding: 1% 1% 0.5% 1%;
}
.AnswerBox__button-area {
    display: flex;
}
.AnswerBox--blue {
    border: 2px solid rgb(31, 145, 221);
}

.AnswerBox--red {
    border: 2px solid rgb(221, 69, 31);
}

.AnswerBox--green {
    border: 2px solid rgb(75, 221, 31);
}

.AnswerBox__answer {
    text-align: left;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2em;
}

.AnswerBox__date {
    /* text-align: right;
    margin-top: 2%; */
    position: absolute;
    top: -0.1em;
    right: 2%;
    background: white;
    padding-left: 0.8%;
    padding-right: 0.8%;
}

.AnswerBox__username {
    width: auto;
    margin-left: 2%;
    padding-left: 0.8%;
    padding-right: 0.8%;
}

fieldset {
    position: relative;
}

legend {
    font-size: 1.2em;
}