.AnswerBox {
    margin-bottom: 1%;
    border-radius: 8px;
    border: 2px solid rgb(31, 145, 221);
    padding: 1% 1% 0.5% 1%;
}
.AnswerBox__button-area {
    display: flex;
}
.AnswerBox--blue {
    border: 2px solid rgb(31, 145, 221);
}

.AnswerBox--red {
    border: 2px solid rgb(221, 69, 31);
}

.AnswerBox--green {
    border: 2px solid rgb(75, 221, 31);
}

.AnswerBox__answer {
    text-align: left;
}

.AnswerBox__date {
    text-align: right;
    margin-top: 2%;
}