html {
    font-size: 13px;
}

.login-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.homepage-wrapper {
    background-color: rgb(241, 241, 241);
}

.homepage-box {
    max-width: 1140px;
    margin: auto;
    min-height: calc(100vh - 87px - 233.19px);
}

.question-list-title {
    padding: 10px;
    padding-top: 20px;
    font-size: 20px;
    display: flex;
}

.question-list-title button{
    width: 200px;
}

.question-list-title{
    width: 100%;
}

.query{
    font-weight: bold;
    width: 100%;
    display: flex;
}

.results{
    width: 100%;
    padding-left: 10px;
    display: flex;
}

.num-results{
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    display: flex;
}