.SearchPage-wrapper {
    background-color: rgb(241, 241, 241);
}

.SearchPage {
    min-height: calc(100vh - 87px - 233.19px);
}

.SearchPage__question-list-title {
    padding-top: 20px;
    font-size: 20px;
    display: block;
}

.SearchPage__search-filters-bar {
  float: right;
  margin-right: 0;
  max-width: 80%;
  display: flex;
}

.query{
    font-weight: bold;
    width: 100%;
    display: flex;
}

.SearchPage__results{
    width: 100%;
    display: flex;
}

.num-results{
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    display: flex;
}
