@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html {
  font-size: 13px;
}

.body-wrapper {
  background-color: white;
}

.HomePage__question-list-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  display: flex;
}

.HomePage__question-list-title button {
  width: 200px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  border-radius: 15px;
  background-color: #2d9cdb;
}

.Ask_button {
  margin-left: auto;
  margin-right: 0;
}
.HomePage__question-list-title h3 {
  width: 100%;
}

.page-width {
  font-weight: bold;
}
