html {
  font-size: 13px;
}

.HomePage__question-list-title {
    font-size: 20px;
    display: flex;
}

.HomePage__question-list-title button {
  width: 200px;
}

.HomePage__question-list-title h3 {
  width: 100%;
}
