.ProfilePage {
    padding-top: 30px;
}
.ProfilePage div {
    padding-bottom: 20px;
}
.ProfilePage__question-list-title {
    padding-top: 30px;
}

.ProfilePage__question_related_to_user {
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.div_question_asked {
    width: 45%;
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

.div_question_answered {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
}