.Userpage {
    padding-top: 30px;
}
.Userpage div {
    padding-bottom: 20px;
}
.Userpage__question-list-title {
    padding-top: 30px;
}

.UserPage__question_related_to_user {
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.Userpage__div_question_asked {
    width: 45%;
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

.Userpage__div_question_answered {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;
}
Userpage__div_job_posted{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%;

}